{{#each posts as |post|}}
  <div class="card mt-2 mx-2">
    <div class="card-body">
      <a href="/posts/{{post.id}}"><h2
          class="card-title mx-2"
        >{{post.title}}</h2></a>
      <a href="/users/{{post.user.username}}">
        <h3
          class="card-subtitle mb-2 text-muted mx-2"
        >{{post.user.username}}</h3>
      </a>
      <div class="card-body">
        {{post.body}}
      </div>
      <p class="text-muted">Posted at: {{post.createdAt}}</p>
    </div>
  </div>
{{/each}}