<div class="card mx-2">
  <div class="card-body">
    <h2 class="card-title">{{post.title}}</h2>
    <a href="/users/{{post.user.username}}">
      <h6 class="card-subtitle mb-2 text-muted mx-2">{{post.user.username}}</h6>
    </a>
    <div class="card-body">
      {{post.body}}
    </div>
     <p style="text-muted">Posted at: {{post.createdAt}}<p>
       {{#if userPost}}
      <button class="btn btn-danger" id="delete-post">Delete</button>
      {{/if}}
  </div>
</div>
{{#each comments as |comment|}}
  <div class="card mt-2 mx-5">
    <div class="card-body">
      <a href="/users/{{comment.user.username}}">
        <h5 class="card-title ml-3">{{comment.user.username}}</h5>
      </a>
      <div class="card-body">
        {{comment.body}}
      </div>
      <p style="text-muted">Posted at: {{comment.createdAt}}<p>
    </div>
  </div>
{{/each}}

<div class="form-floating mt-3 mx-5">
  <textarea
    class="form-control mb-2"
    placeholder="Post your thoughts"
    id="comment-post"
    style="height: 100px"
  ></textarea>
  <label for="comment-post">Add a comment!</label>

  <button class="btn btn-primary comment-btn" type="submit">Post!</button>
</div>

<script src="../assets/comment.js"></script>
<script src="../assets/post.js"></script>