<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{user.username}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
<h3 class="ms-3"> User's posts</h3>
<br />
{{#each posts as |post|}}
  <div class="card mt-2 mx-2">
    <div class="card-body">
      <a href="/posts/{{post.id}}">
        <h2 class="card-title">{{post.title}}</h2>
      </a>
    </div>
    <div class="card-body">
      <p>{{post.body}}</p>
    </div>

  </div>
{{/each}}